<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Inherit">
        <system.webServer>
            <advancedLogging>
                <server enabled="true">
                    <fields />
                    <logDefinitions>
                        <logDefinition rollLogFileOnConfigChanges="false" writeLogDataToDisk="true" baseFileName="%USERNAME%" logRaiseTraceEvents="false" enabled="true" logRollOption="Schedule" maxDurationSeconds="86400" maxFileSizeKB="1024" schedule="Daily" publishLogEvent="false">
                            <selectedFields>
                                <logField id="Date-UTC" logHeaderName="" required="false" defaultValue="" />
                                <logField id="Time-UTC" logHeaderName="time" required="false" defaultValue="" />
                                <logField id="URI-Stem" logHeaderName="" required="false" defaultValue="" />
                                <logField id="URI-Querystring" logHeaderName="" required="false" defaultValue="" />
                                <logField id="Client-IP" logHeaderName="c-ip" required="false" defaultValue="" />
                                <logField id="c-port" logHeaderName="c-port" required="false" defaultValue="" />
                            </selectedFields>
                            <filter>
                                <condition operator="And" />
                            </filter>
                        </logDefinition>
                    </logDefinitions>
                </server>
            </advancedLogging>
            <urlCompression doDynamicCompression="false" />
            <handlers>
                <add name="PHP-FastCGI7.0" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.0\php-cgi.exe" resourceType="File" />
            </handlers>
            <defaultDocument enabled="true">
                <files>
                    <add value="index.php" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
</configuration>
